
#stacks_in_483_page5 {
	font-size: 132%;
}

#stacks_out_478_page5 {
	width: 960px;
}

#stacks_in_478_page5 {
	padding: 0px 10px 40px 10px;
}

#stacks_in_615_page5 {
	font-size: 130%;
}

#stacks_out_610_page5 {
	width: 640px;
	float: left;
}

#stacks_in_610_page5 {
	padding: 0px 10px 0px 10px;
}

#stacks_out_618_page5 {
	width: 320px;
	float: left;
}

#stacks_in_618_page5 {
	padding: 0px 10px 0px 10px;
}

#stacks_out_608_page5 {
	width: 960px;
}

#stacks_in_606_page5 {
	padding: 10px 0px 10px 0px;
}

#stacks_in_508_page5 .stacks_left {
	float:left;
	width:32%;
}

#stacks_in_508_page5 .stacks_right {
	float:right;
	width:32%;
}

#stacks_in_508_page5 .stacks_middle {
	position:relative;
	margin:0 auto;
	width:32%;
}
#stacks_in_513_page5 {
	text-transform: capitalize;
}

#stacks_in_512_page5 {
	border: solid #999999;
	border-width: 0px 0px 1px 0px;
	padding: 5px 0px 5px 0px;
}

#stacks_in_515_page5 {
	font-size: 95%;
}

#stacks_in_514_page5 {
	border: solid #999999;
	border-width: 0px 0px 1px 0px;
	padding: 5px 0px 5px 0px;
}

#stacks_in_510_page5 {
	padding: 5px 10px 5px 10px;
}

#stacks_in_520_page5 {
	text-transform: capitalize;
}

#stacks_in_519_page5 {
	border: solid #999999;
	border-width: 0px 0px 1px 0px;
	padding: 5px 0px 5px 0px;
}

#stacks_in_522_page5 {
	font-size: 95%;
}

#stacks_in_521_page5 {
	border: solid #999999;
	border-width: 0px 0px 1px 0px;
	padding: 5px 0px 5px 0px;
}

#stacks_in_517_page5 {
	padding: 5px 10px 5px 10px;
}

#stacks_in_527_page5 {
	text-transform: capitalize;
}

#stacks_in_526_page5 {
	border: solid #999999;
	border-width: 0px 0px 1px 0px;
	padding: 5px 0px 5px 0px;
}

#stacks_in_529_page5 {
	font-size: 95%;
}

#stacks_in_528_page5 {
	border: solid #999999;
	border-width: 0px 0px 1px 0px;
	padding: 5px 0px 5px 0px;
}

#stacks_in_524_page5 {
	padding: 5px 10px 5px 10px;
}

#stacks_in_508_page5 {
	border: solid #999999;
	border-width: 3px 0px 0px 0px;
	margin: 20px 0px 0px 0px;
	padding: 20px 0px 0px 0px;
}
