
#stacks_out_702_page6 {
	width: 320px;
	float: left;
}

#stacks_in_702_page6 {
	padding: 0px 10px 0px 10px;
}

#stacks_in_634_page6 {
	font-size: 130%;
}

#stacks_out_708_page6 {
	width: 640px;
	float: left;
}

#stacks_in_708_page6 {
	padding: 0px 10px 0px 10px;
}

#stacks_out_700_page6 {
	width: 960px;
}

#stacks_in_698_page6 {
	padding: 10px 0px 10px 0px;
}

#stacks_in_533_page6 .stacks_left {
	float:left;
	width:32%;
}

#stacks_in_533_page6 .stacks_right {
	float:right;
	width:32%;
}

#stacks_in_533_page6 .stacks_middle {
	position:relative;
	margin:0 auto;
	width:32%;
}
#stacks_in_538_page6 {
	text-transform: capitalize;
}

#stacks_in_537_page6 {
	border: solid #999999;
	border-width: 0px 0px 1px 0px;
	padding: 5px 0px 5px 0px;
}

#stacks_in_540_page6 {
	font-size: 95%;
}

#stacks_in_539_page6 {
	border: solid #999999;
	border-width: 0px 0px 1px 0px;
	padding: 5px 0px 5px 0px;
}

#stacks_in_535_page6 {
	padding: 5px 10px 5px 10px;
}

#stacks_in_545_page6 {
	text-transform: capitalize;
}

#stacks_in_544_page6 {
	border: solid #999999;
	border-width: 0px 0px 1px 0px;
	padding: 5px 0px 5px 0px;
}

#stacks_in_547_page6 {
	font-size: 95%;
}

#stacks_in_546_page6 {
	border: solid #999999;
	border-width: 0px 0px 1px 0px;
	padding: 5px 0px 5px 0px;
}

#stacks_in_542_page6 {
	padding: 5px 10px 5px 10px;
}

#stacks_in_552_page6 {
	text-transform: capitalize;
}

#stacks_in_551_page6 {
	border: solid #999999;
	border-width: 0px 0px 1px 0px;
	padding: 5px 0px 5px 0px;
}

#stacks_in_554_page6 {
	font-size: 95%;
}

#stacks_in_553_page6 {
	border: solid #999999;
	border-width: 0px 0px 1px 0px;
	padding: 5px 0px 5px 0px;
}

#stacks_in_549_page6 {
	padding: 5px 10px 5px 10px;
}

#stacks_in_533_page6 {
	border: solid #999999;
	border-width: 3px 0px 0px 0px;
	margin: 20px 0px 0px 0px;
	padding: 20px 0px 0px 0px;
}
