#stacks_in_874_page6_button {
	display:block;
	position: relative;
	text-align: center;
}


#stacks_in_874_page6 a:link, #stacks_in_874_page6 a:visited {
	 display:inline-block; 
	
	
	position: relative;
	text-decoration:none;
}
#stacks_in_874_page6 a:hover, #stacks_in_874_page6 a:active {
	color:#FFFFFF;
}







#stacks_in_874_page6 a:link, #stacks_in_874_page6 a:visited {
	background-color:#00A0FF;
	background: -webkit-gradient(linear, left top, left bottom, from(#00A0FF), to(#0060BF));
	border:1px solid #0060BF;
	padding:3px 20px;
	border-radius:30px;
	color:#FFFFFF;
	box-shadow:rgba(0, 0, 0, 0.5) 0px 1px 2px;
	margin:5px;
	font-weight:bold;
}
#stacks_in_874_page6 a:hover {
	background-color:#00ACFF;
	background: -webkit-gradient(linear, left top, left bottom, from(#00ACFF), to(#0053A5));
	box-shadow:rgba(0, 0, 0, 0.25) 0px 2px 4px;
}
#stacks_in_874_page6 a:active {
	background-color:#00A0FF;
	box-shadow:rgba(0, 0, 0, 0.75) 0px 0px 4px inset;
}




#stacks_out_702_page6 {
	width: 320px;
	float: left;
}

#stacks_in_702_page6 {
	padding: 0px 10px 0px 10px;
}

#stacks_in_634_page6 {
	font-size: 130%;
}

#stacks_out_708_page6 {
	width: 640px;
	float: left;
}

#stacks_in_708_page6 {
	padding: 0px 10px 0px 10px;
}

#stacks_out_700_page6 {
	width: 960px;
}

#stacks_in_698_page6 {
	padding: 10px 0px 10px 0px;
}

#stacks_in_533_page6 .stacks_left {
	float:left;
	width:32%;
}

#stacks_in_533_page6 .stacks_right {
	float:right;
	width:32%;
}

#stacks_in_533_page6 .stacks_middle {
	position:relative;
	margin:0 auto;
	width:32%;
}
#stacks_in_538_page6 {
	text-transform: capitalize;
}

#stacks_in_537_page6 {
	border: solid #999999;
	border-width: 0px 0px 1px 0px;
	padding: 5px 0px 5px 0px;
}

#stacks_in_540_page6 {
	font-size: 95%;
}

#stacks_in_539_page6 {
	border: solid #999999;
	border-width: 0px 0px 1px 0px;
	padding: 5px 0px 5px 0px;
}

#stacks_in_535_page6 {
	padding: 5px 10px 5px 10px;
}

#stacks_in_545_page6 {
	text-transform: capitalize;
}

#stacks_in_544_page6 {
	border: solid #999999;
	border-width: 0px 0px 1px 0px;
	padding: 5px 0px 5px 0px;
}

#stacks_in_547_page6 {
	font-size: 95%;
}

#stacks_in_546_page6 {
	border: solid #999999;
	border-width: 0px 0px 1px 0px;
	padding: 5px 0px 5px 0px;
}

#stacks_in_542_page6 {
	padding: 5px 10px 5px 10px;
}

#stacks_in_552_page6 {
	text-transform: capitalize;
}

#stacks_in_551_page6 {
	border: solid #999999;
	border-width: 0px 0px 1px 0px;
	padding: 5px 0px 5px 0px;
}

#stacks_in_554_page6 {
	font-size: 95%;
}

#stacks_in_553_page6 {
	border: solid #999999;
	border-width: 0px 0px 1px 0px;
	padding: 5px 0px 5px 0px;
}

#stacks_in_549_page6 {
	padding: 5px 10px 5px 10px;
}

#stacks_in_533_page6 {
	border: solid #999999;
	border-width: 3px 0px 0px 0px;
	margin: 20px 0px 0px 0px;
	padding: 20px 0px 0px 0px;
}
