header {
	background: url(../../images/hdr_bkg_wood_tile.jpg) repeat-x center center;
}

h1.siteTitle {
	text-shadow: #582e17 0 1px 5px;
}

/* @group Badges */

.twitterBadge {
	background: url(../../images/socialbadges/twitter_wood.png) no-repeat;
}

.facebookBadge {
	background: url(../../images/socialbadges/facebook_wood.png) no-repeat;
}

.appstoreBadge {
	background: url(../../images/socialbadges/appstore_wood.png) no-repeat;
}

.dribbbleBadge {
	background: url(../../images/socialbadges/dribbble_wood.png) no-repeat;
}

.flickrBadge {
	background: url(../../images/socialbadges/flickr_wood.png) no-repeat;
}

.emberBadge {
	background: url(../../images/socialbadges/ember_wood.png) no-repeat;
}

.mobilemeBadge {
	background: url(../../images/socialbadges/mobileme_wood.png) no-repeat;
}

.rssBadge {
	background: url(../../images/socialbadges/rss_wood.png) no-repeat;
}

.linkedinBadge {
	background: url(../../images/socialbadges/linkedin_wood.png) no-repeat;
}

.paypalBadge {
	background: url(../../images/socialbadges/paypal_wood.png) no-repeat;
}

.cartBadge {
	background: url(../../images/socialbadges/cart_wood.png) no-repeat;
}

/* @end */

.photo-background {
	background: url(../../images/hdr_bkg_wood_tile.jpg) repeat-x center top;
}