header, .photo-background {
	background: none;
}

h1.siteTitle {
	text-shadow: none;
}

/* @group Badges */

.twitterBadge {
	background: url(../../images/socialbadges/twitter_dark.png) no-repeat;
	opacity: 0.4;
}

.facebookBadge {
	background: url(../../images/socialbadges/facebook_dark.png) no-repeat;
	opacity: 0.4;
}

.appstoreBadge {
	background: url(../../images/socialbadges/appstore_dark.png) no-repeat;
	opacity: 0.4;
}

.dribbbleBadge {
	background: url(../../images/socialbadges/dribbble_dark.png) no-repeat;
	opacity: 0.4;
}

.flickrBadge {
	background: url(../../images/socialbadges/flickr_dark.png) no-repeat;
	opacity: 0.4;
}

.emberBadge {
	background: url(../../images/socialbadges/ember_dark.png) no-repeat;
	opacity: 0.4;
}

.mobilemeBadge {
	background: url(../../images/socialbadges/mobileme_dark.png) no-repeat;
	opacity: 0.4;
}

.rssBadge {
	background: url(../../images/socialbadges/rss_dark.png) no-repeat;
	opacity: 0.4;
}

.linkedinBadge {
	background: url(../../images/socialbadges/linkedin_dark.png) no-repeat;
	opacity: 0.4;
}

.paypalBadge {
	background: url(../../images/socialbadges/paypal_dark.png) no-repeat;
	opacity: 0.4;
}

.cartBadge {
	background: url(../../images/socialbadges/cart_dark.png) no-repeat;
	opacity: 0.4;
}

/* @end */