header .innerWidth, #extraContent3 .innerWidth, #breadcrumb .innerWidth {
	width: 690px;
}

#bannerContainer {
	width: 690px;
}

#bannerImage {
	width: 654px;
}

#container {
	width: 690px;
}

#slideshow {
	width: 654px !important;
}