
.stacks_column_left {
	float:left;
}

.stacks_column_right {
	float:right;
}

.stacks_column_4 {
	width:23%;
	margin: 0 1%;
}
#stacks_in_412_page4 .stacks_left {
	float:left;
	width:32%;
}

#stacks_in_412_page4 .stacks_right {
	float:right;
	width:32%;
}

#stacks_in_412_page4 .stacks_middle {
	position:relative;
	margin:0 auto;
	width:32%;
}
#stacks_in_417_page4 {
	text-transform: capitalize;
}

#stacks_in_416_page4 {
	border: solid #999999;
	border-width: 0px 0px 1px 0px;
	padding: 5px 0px 5px 0px;
}

#stacks_in_419_page4 {
	font-size: 95%;
}

#stacks_in_418_page4 {
	border: solid #999999;
	border-width: 0px 0px 1px 0px;
	padding: 5px 0px 5px 0px;
}

#stacks_in_414_page4 {
	padding: 5px 10px 5px 10px;
}

#stacks_in_424_page4 {
	text-transform: capitalize;
}

#stacks_in_423_page4 {
	border: solid #999999;
	border-width: 0px 0px 1px 0px;
	padding: 5px 0px 5px 0px;
}

#stacks_in_426_page4 {
	font-size: 95%;
}

#stacks_in_425_page4 {
	border: solid #999999;
	border-width: 0px 0px 1px 0px;
	padding: 5px 0px 5px 0px;
}

#stacks_in_421_page4 {
	padding: 5px 10px 5px 10px;
}

#stacks_in_431_page4 {
	text-transform: capitalize;
}

#stacks_in_430_page4 {
	border: solid #999999;
	border-width: 0px 0px 1px 0px;
	padding: 5px 0px 5px 0px;
}

#stacks_in_433_page4 {
	font-size: 95%;
}

#stacks_in_432_page4 {
	border: solid #999999;
	border-width: 0px 0px 1px 0px;
	padding: 5px 0px 5px 0px;
}

#stacks_in_428_page4 {
	padding: 5px 10px 5px 10px;
}

#stacks_in_412_page4 {
	border: solid #999999;
	border-width: 3px 0px 0px 0px;
	margin: 20px 0px 0px 0px;
	padding: 20px 0px 0px 0px;
}
