
#stacks_in_315_page3 .stacks_left {
	float:left;
	width:32%;
}

#stacks_in_315_page3 .stacks_right {
	float:right;
	width:32%;
}

#stacks_in_315_page3 .stacks_middle {
	position:relative;
	margin:0 auto;
	width:32%;
}
#stacks_in_320_page3 {
	text-transform: capitalize;
}

#stacks_in_319_page3 {
	border: solid #999999;
	border-width: 0px 0px 1px 0px;
	padding: 5px 0px 5px 0px;
}

#stacks_in_322_page3 {
	font-size: 95%;
}

#stacks_in_321_page3 {
	border: solid #999999;
	border-width: 0px 0px 1px 0px;
	padding: 5px 0px 5px 0px;
}

#stacks_in_317_page3 {
	padding: 5px 10px 5px 10px;
}

#stacks_in_327_page3 {
	text-transform: capitalize;
}

#stacks_in_326_page3 {
	border: solid #999999;
	border-width: 0px 0px 1px 0px;
	padding: 5px 0px 5px 0px;
}

#stacks_in_329_page3 {
	font-size: 95%;
}

#stacks_in_328_page3 {
	border: solid #999999;
	border-width: 0px 0px 1px 0px;
	padding: 5px 0px 5px 0px;
}

#stacks_in_324_page3 {
	padding: 5px 10px 5px 10px;
}

#stacks_in_334_page3 {
	text-transform: capitalize;
}

#stacks_in_333_page3 {
	border: solid #999999;
	border-width: 0px 0px 1px 0px;
	padding: 5px 0px 5px 0px;
}

#stacks_in_336_page3 {
	font-size: 95%;
}

#stacks_in_335_page3 {
	border: solid #999999;
	border-width: 0px 0px 1px 0px;
	padding: 5px 0px 5px 0px;
}

#stacks_in_331_page3 {
	padding: 5px 10px 5px 10px;
}

#stacks_in_315_page3 {
	border: solid #999999;
	border-width: 3px 0px 0px 0px;
	margin: 20px 0px 0px 0px;
	padding: 20px 0px 0px 0px;
}
