
#stacks_in_653_page7 {
	font-size: 130%;
}

#stacks_out_648_page7 {
	width: 640px;
	float: left;
}

#stacks_in_648_page7 {
	padding: 0px 10px 0px 10px;
}

#stacks_out_656_page7 {
	width: 320px;
	float: left;
}

#stacks_in_656_page7 {
	padding: 0px 10px 0px 10px;
}

#stacks_out_646_page7 {
	width: 960px;
}

#stacks_in_644_page7 {
	padding: 10px 0px 10px 0px;
}

#stacks_in_558_page7 .stacks_left {
	float:left;
	width:32%;
}

#stacks_in_558_page7 .stacks_right {
	float:right;
	width:32%;
}

#stacks_in_558_page7 .stacks_middle {
	position:relative;
	margin:0 auto;
	width:32%;
}
#stacks_in_563_page7 {
	text-transform: capitalize;
}

#stacks_in_562_page7 {
	border: solid #999999;
	border-width: 0px 0px 1px 0px;
	padding: 5px 0px 5px 0px;
}

#stacks_in_565_page7 {
	font-size: 95%;
}

#stacks_in_564_page7 {
	border: solid #999999;
	border-width: 0px 0px 1px 0px;
	padding: 5px 0px 5px 0px;
}

#stacks_in_560_page7 {
	padding: 5px 10px 5px 10px;
}

#stacks_in_570_page7 {
	text-transform: capitalize;
}

#stacks_in_569_page7 {
	border: solid #999999;
	border-width: 0px 0px 1px 0px;
	padding: 5px 0px 5px 0px;
}

#stacks_in_572_page7 {
	font-size: 95%;
}

#stacks_in_571_page7 {
	border: solid #999999;
	border-width: 0px 0px 1px 0px;
	padding: 5px 0px 5px 0px;
}

#stacks_in_567_page7 {
	padding: 5px 10px 5px 10px;
}

#stacks_in_577_page7 {
	text-transform: capitalize;
}

#stacks_in_576_page7 {
	border: solid #999999;
	border-width: 0px 0px 1px 0px;
	padding: 5px 0px 5px 0px;
}

#stacks_in_579_page7 {
	font-size: 95%;
}

#stacks_in_578_page7 {
	border: solid #999999;
	border-width: 0px 0px 1px 0px;
	padding: 5px 0px 5px 0px;
}

#stacks_in_574_page7 {
	padding: 5px 10px 5px 10px;
}

#stacks_in_558_page7 {
	border: solid #999999;
	border-width: 3px 0px 0px 0px;
	margin: 20px 0px 0px 0px;
	padding: 20px 0px 0px 0px;
}
