
#stacks_in_504_page8 {
	font-size: 132%;
}

#stacks_out_499_page8 {
	width: 960px;
}

#stacks_in_499_page8 {
	padding: 0px 10px 40px 10px;
}

#stacks_in_672_page8 {
	font-size: 130%;
}

#stacks_out_667_page8 {
	width: 640px;
	float: left;
}

#stacks_in_667_page8 {
	padding: 0px 10px 0px 10px;
}

#stacks_out_675_page8 {
	width: 320px;
	float: left;
}

#stacks_in_675_page8 {
	padding: 0px 10px 0px 10px;
}

#stacks_out_665_page8 {
	width: 960px;
}

#stacks_in_663_page8 {
	padding: 10px 0px 10px 0px;
}

#stacks_in_583_page8 .stacks_left {
	float:left;
	width:32%;
}

#stacks_in_583_page8 .stacks_right {
	float:right;
	width:32%;
}

#stacks_in_583_page8 .stacks_middle {
	position:relative;
	margin:0 auto;
	width:32%;
}
#stacks_in_588_page8 {
	text-transform: capitalize;
}

#stacks_in_587_page8 {
	border: solid #999999;
	border-width: 0px 0px 1px 0px;
	padding: 5px 0px 5px 0px;
}

#stacks_in_590_page8 {
	font-size: 95%;
}

#stacks_in_589_page8 {
	border: solid #999999;
	border-width: 0px 0px 1px 0px;
	padding: 5px 0px 5px 0px;
}

#stacks_in_585_page8 {
	padding: 5px 10px 5px 10px;
}

#stacks_in_595_page8 {
	text-transform: capitalize;
}

#stacks_in_594_page8 {
	border: solid #999999;
	border-width: 0px 0px 1px 0px;
	padding: 5px 0px 5px 0px;
}

#stacks_in_597_page8 {
	font-size: 95%;
}

#stacks_in_596_page8 {
	border: solid #999999;
	border-width: 0px 0px 1px 0px;
	padding: 5px 0px 5px 0px;
}

#stacks_in_592_page8 {
	padding: 5px 10px 5px 10px;
}

#stacks_in_602_page8 {
	text-transform: capitalize;
}

#stacks_in_601_page8 {
	border: solid #999999;
	border-width: 0px 0px 1px 0px;
	padding: 5px 0px 5px 0px;
}

#stacks_in_604_page8 {
	font-size: 95%;
}

#stacks_in_603_page8 {
	border: solid #999999;
	border-width: 0px 0px 1px 0px;
	padding: 5px 0px 5px 0px;
}

#stacks_in_599_page8 {
	padding: 5px 10px 5px 10px;
}

#stacks_in_583_page8 {
	border: solid #999999;
	border-width: 3px 0px 0px 0px;
	margin: 20px 0px 0px 0px;
	padding: 20px 0px 0px 0px;
}
