#bannerContainer {
	border: 1px solid #e9e9e9;
}

.otherPageType, .blog-entry {
	border: 1px solid #e9e9e9;
}

nav ul ul, nav ul ul ul {
	border: 1px solid #e9e9e9;
}

.envelopeForm {
	border: 1px solid #e9e9e9;
}