
#stacks_in_391_page1 .stacks_left {
	float:left;
	width:32%;
}

#stacks_in_391_page1 .stacks_right {
	float:right;
	width:32%;
}

#stacks_in_391_page1 .stacks_middle {
	position:relative;
	margin:0 auto;
	width:32%;
}
#stacks_in_390_page1 {
	font-size: 130%;
}

#stacks_in_388_page1 {
	font-size: 130%;
}

#stacks_in_384_page1 {
	font-size: 130%;
}

.stacks_column_left {
	float:left;
}

.stacks_column_right {
	float:right;
}

.stacks_column_4 {
	width:23%;
	margin: 0 1%;
}
#stacks_in_202_page1 .stacks_left {
	float:left;
	width:32%;
}

#stacks_in_202_page1 .stacks_right {
	float:right;
	width:32%;
}

#stacks_in_202_page1 .stacks_middle {
	position:relative;
	margin:0 auto;
	width:32%;
}
#stacks_in_207_page1 {
	text-transform: capitalize;
}

#stacks_in_206_page1 {
	border: solid #999999;
	border-width: 0px 0px 1px 0px;
	padding: 5px 0px 5px 0px;
}

#stacks_in_209_page1 {
	font-size: 95%;
}

#stacks_in_208_page1 {
	border: solid #999999;
	border-width: 0px 0px 1px 0px;
	padding: 5px 0px 5px 0px;
}

#stacks_in_204_page1 {
	padding: 5px 10px 5px 10px;
}

#stacks_in_214_page1 {
	text-transform: capitalize;
}

#stacks_in_213_page1 {
	border: solid #999999;
	border-width: 0px 0px 1px 0px;
	padding: 5px 0px 5px 0px;
}

#stacks_in_216_page1 {
	font-size: 95%;
}

#stacks_in_215_page1 {
	border: solid #999999;
	border-width: 0px 0px 1px 0px;
	padding: 5px 0px 5px 0px;
}

#stacks_in_211_page1 {
	padding: 5px 10px 5px 10px;
}

#stacks_in_221_page1 {
	text-transform: capitalize;
}

#stacks_in_220_page1 {
	border: solid #999999;
	border-width: 0px 0px 1px 0px;
	padding: 5px 0px 5px 0px;
}

#stacks_in_223_page1 {
	font-size: 95%;
}

#stacks_in_222_page1 {
	border: solid #999999;
	border-width: 0px 0px 1px 0px;
	padding: 5px 0px 5px 0px;
}

#stacks_in_218_page1 {
	padding: 5px 10px 5px 10px;
}

#stacks_in_202_page1 {
	border: solid #999999;
	border-width: 3px 0px 0px 0px;
	margin: 20px 0px 0px 0px;
	padding: 20px 0px 0px 0px;
}
