
#stacks_in_391_page1 .stacks_left {
	float:left;
	width:32%;
}

#stacks_in_391_page1 .stacks_right {
	float:right;
	width:32%;
}

#stacks_in_391_page1 .stacks_middle {
	position:relative;
	margin:0 auto;
	width:32%;
}
#stacks_in_390_page1 {
	font-size: 130%;
}

#stacks_in_388_page1 {
	font-size: 130%;
}

#stacks_in_384_page1 {
	font-size: 130%;
}

.stacks_column_left {
	float:left;
}

.stacks_column_right {
	float:right;
}

.stacks_column_4 {
	width:23%;
	margin: 0 1%;
}#stacks_in_792_page1_button {
	display:block;
	position: relative;
	text-align: center;
}


#stacks_in_792_page1 a:link, #stacks_in_792_page1 a:visited {
	 display:block; 
	
	 float:right; 
	position: relative;
	text-decoration:none;
}
#stacks_in_792_page1 a:hover, #stacks_in_792_page1 a:active {
	color:#000000;
}



#stacks_in_792_page1 a:link, #stacks_in_792_page1 a:visited {
	background-color:transparent;
	border:0;
	padding:2px 10px;
	border-radius:30px;
	margin:2px;
}
#stacks_in_792_page1 a:hover {
	background-color:#7DD5FF;
}
#stacks_in_792_page1 a:active {
	background-color:#6AB5D8;
}








#stacks_in_793_page1 {
	font-size: 90%;
}
#stacks_in_805_page1_button {
	display:block;
	position: relative;
	text-align: center;
}


#stacks_in_805_page1 a:link, #stacks_in_805_page1 a:visited {
	 display:block; 
	
	 float:right; 
	position: relative;
	text-decoration:none;
}
#stacks_in_805_page1 a:hover, #stacks_in_805_page1 a:active {
	color:#000000;
}



#stacks_in_805_page1 a:link, #stacks_in_805_page1 a:visited {
	background-color:transparent;
	border:0;
	padding:2px 10px;
	border-radius:30px;
	margin:2px;
}
#stacks_in_805_page1 a:hover {
	background-color:#7DD5FF;
}
#stacks_in_805_page1 a:active {
	background-color:#6AB5D8;
}








#stacks_in_806_page1 {
	font-size: 90%;
}
#stacks_in_823_page1_button {
	display:block;
	position: relative;
	text-align: center;
}


#stacks_in_823_page1 a:link, #stacks_in_823_page1 a:visited {
	 display:block; 
	
	 float:right; 
	position: relative;
	text-decoration:none;
}
#stacks_in_823_page1 a:hover, #stacks_in_823_page1 a:active {
	color:#000000;
}



#stacks_in_823_page1 a:link, #stacks_in_823_page1 a:visited {
	background-color:transparent;
	border:0;
	padding:2px 10px;
	border-radius:30px;
	margin:2px;
}
#stacks_in_823_page1 a:hover {
	background-color:#7DD5FF;
}
#stacks_in_823_page1 a:active {
	background-color:#6AB5D8;
}








#stacks_in_824_page1 {
	font-size: 90%;
}
#stacks_in_814_page1_button {
	display:block;
	position: relative;
	text-align: center;
}


#stacks_in_814_page1 a:link, #stacks_in_814_page1 a:visited {
	 display:block; 
	
	 float:right; 
	position: relative;
	text-decoration:none;
}
#stacks_in_814_page1 a:hover, #stacks_in_814_page1 a:active {
	color:#000000;
}



#stacks_in_814_page1 a:link, #stacks_in_814_page1 a:visited {
	background-color:transparent;
	border:0;
	padding:2px 10px;
	border-radius:30px;
	margin:2px;
}
#stacks_in_814_page1 a:hover {
	background-color:#7DD5FF;
}
#stacks_in_814_page1 a:active {
	background-color:#6AB5D8;
}








#stacks_in_815_page1 {
	font-size: 90%;
}

#stacks_in_202_page1 .stacks_left {
	float:left;
	width:32%;
}

#stacks_in_202_page1 .stacks_right {
	float:right;
	width:32%;
}

#stacks_in_202_page1 .stacks_middle {
	position:relative;
	margin:0 auto;
	width:32%;
}
#stacks_in_207_page1 {
	text-transform: capitalize;
}

#stacks_in_206_page1 {
	border: solid #999999;
	border-width: 0px 0px 1px 0px;
	padding: 5px 0px 5px 0px;
}

#stacks_in_209_page1 {
	font-size: 95%;
}

#stacks_in_208_page1 {
	border: solid #999999;
	border-width: 0px 0px 1px 0px;
	padding: 5px 0px 5px 0px;
}

#stacks_in_204_page1 {
	padding: 5px 10px 5px 10px;
}

#stacks_in_214_page1 {
	text-transform: capitalize;
}

#stacks_in_213_page1 {
	border: solid #999999;
	border-width: 0px 0px 1px 0px;
	padding: 5px 0px 5px 0px;
}

#stacks_in_216_page1 {
	font-size: 95%;
}

#stacks_in_215_page1 {
	border: solid #999999;
	border-width: 0px 0px 1px 0px;
	padding: 5px 0px 5px 0px;
}

#stacks_in_211_page1 {
	padding: 5px 10px 5px 10px;
}

#stacks_in_221_page1 {
	text-transform: capitalize;
}

#stacks_in_220_page1 {
	border: solid #999999;
	border-width: 0px 0px 1px 0px;
	padding: 5px 0px 5px 0px;
}

#stacks_in_223_page1 {
	font-size: 95%;
}

#stacks_in_222_page1 {
	border: solid #999999;
	border-width: 0px 0px 1px 0px;
	padding: 5px 0px 5px 0px;
}

#stacks_in_218_page1 {
	padding: 5px 10px 5px 10px;
}

#stacks_in_202_page1 {
	border: solid #999999;
	border-width: 3px 0px 0px 0px;
	margin: 20px 0px 0px 0px;
	padding: 20px 0px 0px 0px;
}
